/* Uncomment an example for watching the position result in the browser please (in index.html too) */

/* position: static
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px green solid;
}
  
#moved{
    left: 100px;
} */

/* position: relative
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px green solid;
}
  
#moved{
    position: relative;
    left: 104px;
} */

/* position: absolute (viewport reference)
.red {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px green solid;
}
  
#moved{
    position: absolute;
    top: 40px;
    left: 50px;
} */

/* position: absolute (parent reference)
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px green solid;
}
  
#relative{
    position: relative;
}
  
#moved{
    position: absolute;
    top: 40px;
    left: 50px;
} */

/* position: fixed
.red {
  height: 100px;
  width: 100px;
  background-color: red;
  border: 2px green solid;
}

#firstDiv {
  height: 2000px;
}

#relative {
  position: relative;
}

#moved {
  position: fixed;
  top: 40px;
  left: 50px;
} */
